:root {
    --main-padding: 20px;
    --main-color: #662249;
    --alt-color: #E9BCB9;
    --main-green: #00960c;
    --main-transition: 0.3s;
    --main-radius: 10px;
}
* {
    box-sizing: border-box;
    user-select: none;
}
body {
    background-color: var(--main-color);
    min-height: 100vh;
    margin: 0;
    padding: 30px 20px;
}
body, input, textarea, select, button {
    font-family: 'Almarai', sans-serif;
}
h1, h2, h3, h4, h5, p {
    margin: 0;
}
.splash {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--main-color);
    transition: 0.6s ease;
}
.splash.hidden {
    opacity: 0;
    transform: translateX(100%);
    pointer-events: none;
}
.splash h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 160px;
    color: var(--main-color);
    background-color: var(--alt-color);
    padding: 0 20px;
    border-radius: 8px;
    transform: translateY(-15px);
}
@media (max-width: 767px) {
    .splash h1 {
        font-size: 120px;
    }
}
.app {
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: var(--main-radius);
    margin: auto;
    background-color: var(--alt-color);
    padding: var(--main-padding);
    width: 750px;
    overflow: hidden;
}
@media (max-width: 767px) {
    .app {
        width: 100%;
    }
}
.choose-ctgr {
    text-align: center;
    position: relative;
    top: 100px;
}
.choose-ctgr .ctgrs {
    padding: 20px 0 4px;
}
.choose-ctgr .ctgrs label {
    width: 100%;
}
.choose-ctgr .ctgrs input {
    display: none;
}
.choose-ctgr .ctgrs input + div {
    color: black;
    background-color: #f0e3e2;
    padding: 15px;
    margin: auto;
    transition: var(--main-transition);
    cursor: pointer;
    border-radius: var(--main-radius);
    width: 100%;
    font-size: 16px;
    transition: var(--main-transition);
}
.choose-ctgr .ctgrs input + div:hover {
    background-color: #945277;
    color: white;
}
.choose-ctgr .ctgrs input:not(:last-child) + div {
    margin-bottom: 5px;
}
.choose-ctgr .ctgrs input:checked + div {
    background-color: var(--main-color);
    color: white;
}
.choose-ctgr .start {
    border: none;
    cursor: pointer;
    background-color: #A34054;
    color: rgb(255, 255, 255);
    font-size: 16px;
    width: 100%;
    padding: 15px;
    border-radius: var(--main-radius);
    letter-spacing: 1px;
    transition: var(--main-transition);
}
.choose-ctgr .start:hover {
    background-color: #8f3143;
}
@media(min-width: 768px) {
    .choose-ctgr .ctgrs input + div, .choose-ctgr .start {
        font-size: 18px;
    }
}
.content {
    position: relative;
    left: -200%;
    transition: var(--main-transition);
}
.info, .more-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px;
    box-shadow: 0 0 2px 0px grey;
    border-radius: var(--main-radius);
}
@media(max-width: 767px) {
    .info, .more-info {
        font-size: 14px;
    }
}
form {
    margin: 20px 0;
    box-shadow: 0 0 2px 0px grey;
    border-radius: var(--main-radius);
    overflow: hidden;
    background-color: white;
}
.question {
    background-color: white;
    padding: var(--main-padding);
    position: relative;
    top: 6px;
}
.question h2 {
    margin-bottom: 20px;
}
.question h2 pre {
    direction: ltr;
    font-family: 'Consolas', monospace;
    font-size: 18px;
    overflow-x: auto;
    white-space: pre;
}
@media(max-width: 767px) {
    .question h2 {
        font-size: 18px;
    }
    .question h2 pre {
        font-size: 12px;
    }
}
.question .answers {
    background-color: #fdedec;
    border-radius: 0 var(--main-radius);
}
.question .answers .answer {
    font-weight: bold;
    font-size: 14px;
    color: #777;
    border-radius: var(--main-radius);
    overflow: hidden;
}
.question .answers .answer:not(:last-of-type) {
    border-bottom: 1px solid #bdbdbd;
}
.question .answers .answer input {
    cursor: pointer;
    display: none;
}
.question .answers .answer label {
    display: block;
    padding: 15px;
    transition: var(--main-transition);
    cursor: pointer;
}
@media(max-width: 767px) {
    .question .answers .answer label {
        padding: 12px 15px;
    }
}
.question .answers .answer input:checked + label {
    background-color: #8d446d;
    color: white;
}
.question .answers .answer input:not(:checked) + label:hover {
    background-color: var(--alt-color);
}
.question .answers .answer input.right + label {
    background-color: var(--main-green);
    color: white;
}
.question .answers .answer input.wrong + label {
    background-color: rgb(228, 39, 39);
    color: white;
}
input[type="submit"] {
    width: 100%;
    border: none;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 15px;
    cursor: pointer;
    border-radius: var(--main-radius);
    transition: var(--main-transition);
    position: relative;
}
input[type="submit"]:hover {
    background-color: #802b5b;
}
input[type="submit"]:focus {
    outline: none;
}
.more-info .bullets {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 6px;
}
.more-info .bullets span {
    display: block;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
    transition: var(--main-transition);
}
.on {
    animation: infinite on 0.5s alternate;
}
.more-info .bullets span.right {
    animation: right 1s forwards;
}
.more-info .bullets span.wrong {
    animation: wrong 1s forwards;
}
@keyframes on {
    100% {
        background-color: #A34054;
    }
}
@keyframes right {
    100% {
        background-color: var(--main-green);
    }
}
@keyframes wrong {
    100% {
        background-color: #e91e1e;
    }
}
.more-info .time {
    width: 150px;
    text-align: right;
    font-weight: bold;
}
.finish {
    text-align: center;
    padding-bottom: 20px;
    display: none;
    font-weight: bold;
}
.result {
    opacity: 0;
}
@media (max-width: 767px) {
    .result {
        font-size: 14px;
    }
}
.result.apear {
    animation: apear 1s forwards;
}
@keyframes apear {
    100% {
        opacity: 1;
        padding: 30px;
    }
}
.finish .result .rank {
    font-size: 80px;
    font-family: sans-serif;
}
@media(max-width: 767px) {
    .finish .result .rank {
        font-size: 60px;
    }
}
.finish .result .rank.passed {
    color: var(--main-green);
}
.finish .result .rank.failed {
    color: #e91e1e;
}
.finish span {
    color: var(--main-color);
}
.again {
    margin-bottom: 10px;
}
.back, .again {
    display: block;
    border: none;
    text-decoration: none;
    background-color: #A34054;
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: var(--main-radius);
    cursor: pointer;
    transition: var(--main-transition);
    width: 100%;
    font-weight: bold;
}
@media(min-width: 767px) {
    .back, .again {
        font-size: 18px;
    }
}
.back:hover, .again:hover {
    background-color: #8f3143;
}
.footer {
    margin-top: 15px;
    font-size: 14px;
    color: #A34054;
    text-align: center;
}
@media (max-width: 767px) {
    .footer {
        font-size: 12px;
    }
}